<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IKLAN</title>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap" rel="stylesheet">
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    {% block css %} 
    {% endblock %}
    <link rel="stylesheet" href="{% static 'app/css/estilos.css' %}">
    {% load pwa %}
    {% progressive_web_app_meta %}
    
</head>
<body>

    <div id="principal">
        <header>
            <h1 id="h1principal">IKLAN</h1>
            <img  class="logo"  src="{% static 'app/img/logo.jpg' %}" alt="logo">            
        </header>
    </div>

        
        
        <div>
            <nav id="nav">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    {% if perms.app.add_producto %}
                    <li><a href="{% url 'agregar_producto' %}">Agregar Producto</a></li>
                    {% endif %}
                    {% if perms.app.view_producto %}
                    <li><a href="{% url 'listar_productos' %}">Listado de Producto</a></li>
                    <li><a href="http://localhost:8000/admin/">Admin</a></li>

                    {% endif %}
                    {% if user.is_authenticated  %}
                    <li><a href="{% url 'logout' %}">Cerrar sesion</a></li>
                    <li><a href="#">{{ user.username}}</a></li>
                    <li>
                        {% for auth in backends.associated %}
                            {% if auth.provider == 'facebook' %}
                                <img src="{{ auth.extra_data.picture.data.url }}" alt="" width="50" height="50">
                            {% endif %}
                        {% endfor %}
                    </li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Iniciar sesion</a></li>
                    <li><a href="{% url 'registro' %}">Registrate</a></li>
                    {% endif %}
                </ul>
            </nav>

    </div>    

    <div id="contenido">

        {% block contenido %}
        {% endblock %}

    </div>

    <br><br><br>
    <footer>
        <div class="footer">
            <div class="footer1">
                <img src="{% static 'app/img/footer/new.png' %}" alt="balance">
            </div>

            <div class="footer1">
                <img src="{% static 'app/img/footer/puma.png' %}" alt="puma">
                
            </div>

            <div class="footer1">
                <img src="{% static 'app/img/footer/fila.png' %}" alt="fila">
                
            </div>

            <div class="footer1">
                <img src="{% static 'app/img/footer/nike.png' %}" alt="nike">
                
            </div>
            <div class="footer1">
                <img src="{% static 'app/img/footer/adidas.png' %}" alt="adidas">
            </div>
       
            <div class="footer1">
                <a id="footerTITULO">NOVEDADES</a>
                <a>Día din IVA</a>
                <a href="#">Black Friday</a>
            </div>

            <div class="footer1">
                <a id="footerTITULO">ASISTENCIA</a>
                <a href="#">Servicio al cliente</a>
                <a href="#">Preguntas frecuentes</a>
            </div>

            <div class="footer1">
                <a id="footerTITULO">TÉRMINOS Y CONDICIONES</a>
                <a href="#">Política de Privacidad</a>
                <a href="#">Aviso de Privacidad</a>
        </div>
        <div class="footerredes">
            <div class="footer1">
                <a href="https://www.facebook.com/TENIS-TENIS-104060735272582/?ref=pages_you_manage"><img src="{% static 'app/img/footer/facebook.png' %}" alt="puma"></a>
            </div>

            <div class="footer1">
                <a href="https://www.instagram.com/_tenisytenis_/"><img src="{% static 'app/img/footer/instagram.png' %}" alt="fila"></a>
            </div>

            <div class="footer1">
                <a href="https://www.youtube.com/channel/UCXn4FMj4jgR6C-2OuO0u0jQ"><img src="{% static 'app/img/footer/youtube.png' %}" alt="fila"></a>

            </div>

        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% block mesajeria %}
        {% if messages %}
            {% for m in messages %}
                <script>
                    Swal.fire({
                        "title": "Felicitaciones",
                        "text": "{{m}}",
                        "icon": "success"
                    })
                </script>
            {% endfor %}
        {% endif %}
    {% endblock %}
    {% block js %} 
    {% endblock %}

</body>
</html>